<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473985284446-tmddflt1tgapie7gf4sor7715ojniluh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473985284446-tmddflt1tgapie7gf4sor7715ojniluh</string>
	<key>API_KEY</key>
	<string>AIzaSyAu3pNkv6InPQbePNGGwHyGHBOnzvFfw9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>473985284446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>namius.Hw1</string>
	<key>PROJECT_ID</key>
	<string>test-project-for-vk</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-for-vk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473985284446:ios:0145fc176f71607aa777cf</string>
</dict>
</plist>